<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <link rel="icon" href="./images/silverware.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="./css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

</head>

<body class="animatedBackground2">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="account">
          <form class="login">

            <div class="form-group">
              <label for="exampleInputEmail1">User Email</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default accountbutton">Login</button>
          </form>
          <br />
          <p class="goTo">Don't have an account? Sign up 
            <a href="/">here!</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="footerContainer">
    <div id="footer">
      © Brock | Ozair | Taylor | Shelby
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>

</body>

</html>